In [92]:
#시리즈 만들기
import pandas as pd
t = pd.Series(['banana',42])
print(t)
#자동으로 인덱스는 0부터

0    banana
1        42
dtype: object

In [93]:
#인덱스를 지정한 시리즈
index = ['person','who']
s = pd.Series(['Wes Mckinney', 'Creator of Pandas'], index = index)
s

person         Wes Mckinney
who       Creator of Pandas
dtype: object

In [94]:
#데이터 프레임 만들기

scientists = pd.DataFrame({'Name':['Rosaline Franklin', 'William Gosset'],
                           'Occupation' : ['Chemist','Statiustication'],
                           'Born':['1920-07-25','1876-06-13'],
                           'Died':['1958-04-16','1937-10-16'],
                           'Age':[37,61]})

In [95]:
scientists

                Name       Occupation        Born        Died  Age
0  Rosaline Franklin          Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statiustication  1876-06-13  1937-10-16   61

In [96]:
scientists = pd.DataFrame({'Name':['Rosaline Franklin', 'William Gosset'],
                           'Occupation' : ['Chemist','Statiustication'],
                           'Born':['1920-07-25','1876-06-13'],
                           'Died':['1958-04-16','1937-10-16'],
                           'Age':[37,61]},
                         index = ['Rosaline Franklin','William Gosset'],
                         columns = ['Occupation','Born','Age','Died'])
# Name-Occupation-Born-Died-Age 순서로 딕셔너리를 입력했음에도 columns 인자 열 순서를 따른다.

In [97]:
scientists

                        Occupation        Born  Age        Died
Rosaline Franklin          Chemist  1920-07-25   37  1958-04-16
William Gosset     Statiustication  1876-06-13   61  1937-10-16

In [98]:
#순서를 보장된 딕셔너리 전달
from collections import OrderedDict

In [99]:
first_row = scientists.loc['William Gosset',:]

In [100]:
first_row.values

array(['Statiustication', '1876-06-13', 61, '1937-10-16'], dtype=object)

In [101]:
first_row.unique

<bound method Series.unique of Occupation    Statiustication
Born               1876-06-13
Age                        61
Died               1937-10-16
Name: William Gosset, dtype: object>

In [102]:
first_row.keys()

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [103]:
scientists.keys()

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [104]:
scientists.index

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')

In [105]:
scientists.columns

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [158]:
df = pd.read_csv('data/scientists.csv')

In [159]:
ages = df['Age']

In [160]:
df.max()

Name          William Gosset
Born              1920-07-25
Died              1964-04-14
Age                       90
Occupation      Statistician
dtype: object

In [161]:
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [162]:
#시리즈 연산
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [163]:
#브로드캐스팅
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [164]:
ages+pd.Series([1,100])

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [165]:
rev_ages = ages.sort_index(ascending=False)

In [166]:
ages+ rev_ages
#벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행한다.

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [167]:
print(df['Born'].dtype)

object

In [168]:
print(df['Died'].dtype)

object

In [176]:
print(df.Born.dtype)

object

In [177]:
df.Born

0    1920-07-25
1    1876-06-13
2    1820-05-12
3    1867-11-07
4    1907-05-27
5    1813-03-15
6    1912-06-23
7    1777-04-30
Name: Born, dtype: object

In [182]:
df.Born = pd.to_datetime(df['Born'],format='%Y-%m-%d')
df.Died = pd.to_datetime(df['Died'],format='%Y-%m-%d')

In [140]:
print(df.Died.dtype)

object

In [184]:
df.Died - df.Born

0   13779 days
1   22404 days
2   32964 days
3   24345 days
4   20777 days
5   16529 days
6   15324 days
7   28422 days
dtype: timedelta64[ns]

In [187]:
import random
random.shuffle(df['Age'])

In [191]:
df.drop(['Name','Age'],axis=1)

        Born       Died          Occupation
0 1920-07-25 1958-04-16             Chemist
1 1876-06-13 1937-10-16        Statistician
2 1820-05-12 1910-08-13               Nurse
3 1867-11-07 1934-07-04             Chemist
4 1907-05-27 1964-04-14           Biologist
5 1813-03-15 1858-06-16           Physician
6 1912-06-23 1954-06-07  Computer Scientist
7 1777-04-30 1855-02-23       Mathematician

In [192]:
df.to_pickle('test.pickle')