In [1]:
import pandas as pd
df = pd.DataFrame({'a':[10,20,30], 'b' : [20,30,40]})

In [2]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [22]:
def my_exp(x,t):
    return x**t

In [23]:
def my_sq(x):
    return x**2

In [24]:
df['a'] **2

0    100
1    400
2    900
Name: a, dtype: int64

In [25]:
df['a'].apply(my_sq)
#apply 메서드에 제곱함수의 이름을 전달하여 시리즈의 모든 데이터에 제곱함수 적용
#이떄 apply 메서드에 전달하는 함수가 1개의 인자를 받고록 구성되어 있다면 인자값을 생략해야한다.

0    100
1    400
2    900
Name: a, dtype: int64

In [27]:
df['a'].apply(my_exp,t=2)
#두 번째 인자가 필요한 경우, 첫번째 인자에는 함수 이름과 두번 째 인자에는 지역변수를 정의해야한다.

0    100
1    400
2    900
Name: a, dtype: int64

In [30]:
def print_me(x):
    print(x)

In [31]:
#데이터 프레임에 apply(함수명)을 적용할 경우 axis인자값이 필요하다.
print(df.apply(print_me,axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [62]:
def avg_apply_col(col):
    sum = 0
    for item in col:
        sum+=item
    return sum/ df.shape[0]

In [63]:
print(df.apply(avg_apply))

a    20.0
b    30.0
dtype: float64

In [64]:
def avg_apply_row(col):
    sum = 0
    for item in col:
        sum+=item
    return sum/ df.shape[1]

In [66]:
df.apply(avg_apply_row,axis=1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [69]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [ ]:
pd